html {
    height:100%;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
}

strong, p {
    margin-top: 1rem;
}

h3 {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: disc;
}

/* navbar */

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-align: right;
}

/* main */

main {
    display: flex;
    flex-direction: column;
}

.card.about:hover {
    animation: shake;
    animation-duration: 0.5s;
}

.card-text {
    text-align: left;
    font-size: 0.9rem;
}

.experience {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

/* accordion */

.accordion {
    color: black;
    border-radius: 0;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
}

.accordion-button {
    color: black;
}

.accordion-button:visited(.collapsed) {
    color: black;
    background-color: white;
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
    background-color: black;
    color:#FFF ;
    text-decoration: none;
    border: hidden;
    border-color: #FFF;
    box-shadow: 0px;
}

.accordion-button:focus {
    z-index: 3;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 .1rem black;
}

/* footer */

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
} */

.footer-link {
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}

/* svg  */

text {
    color: white;
}

.text {
    color: white;
}

.black-box {
    border-radius: 10%;
    animation: rounded;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* animation */

@keyframes shake {
    0% {
        transform: rotate(-2deg);
    }
    20% {
        transform: rotate(2deg);
    }
    40% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(2deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes rounded {
    0% {
        border-radius: 10%;
    } 50% {
        border-radius: 20%;
    }
    100% {
        border: 50%;
    }
}

/* Contact */

.card.contact {
    margin-top: 7rem;
}

.list-group-item.links:hover {
    background-color: black;
    color: #FFF;
}

.contact-container {
    display: flex;
}

.img-fluid {
    max-height: 800px;
    max-width: 800px;
}

@media screen and (min-width: 576) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .img-fluid {
        min-width: 200px;
        min-height: 200px;
    }
}